#outerbox{
    width: 1800px;
    height: 700px;
    
    overflow: hidden;
}
#sliderbox{
    position: relative;
    width: 5464px;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
#sliderbox img{
    width: 1300px;
    height: 700px;
    float: left;
}
@keyframes slide{
    0%{
        left: 0px;
    }
    20%{
        left: 0px;
    }
    25%{
        left: -1280px;
    }
    45%{
        left: -1280px;
    }
    50%{
        left: -2560px;
    }
    70%{
        left: -2560px;
    }
    75%{
        left: -3840px;
    }
    95%{
        left: -3840px;
    }
    100%{
        left: -5120px;
    }
}