.topfooditems{
    border: 0px solid black;
    
    display: flex;
    justify-content: space-around;
    
    
}
.top_cat_pro{
    border: 0px solid blue;
    width: 350px;
    height: 300px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px 5px yellow;
    transition: transform 1s;

}
.top_cat_pro:hover{
    transform: scale(1.1);
}
.top_cat_pro p{
    align-items: center;
}
.button{
    border: 0px solid green;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button input{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    background-color: orange;
    font-size: 20px;
}
.button input:hover{
    background-color: green;
}
#outerbox{
    width: 1800px;
    height: 700px;
    
    overflow: hidden;
}
#sliderbox{
    position: relative;
    width: 5464px;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
#sliderbox img{
    width: 1300px;
    height: 700px;
    float: left;
}
@keyframes slide{
    0%{
        left: 0px;
    }
    20%{
        left: 0px;
    }
    25%{
        left: -1280px;
    }
    45%{
        left: -1280px;
    }
    50%{
        left: -2560px;
    }
    70%{
        left: -2560px;
    }
    75%{
        left: -3840px;
    }
    95%{
        left: -3840px;
    }
    100%{
        left: -5120px;
    }
}
.topfooditems{
    border: 0px solid black;
    
    display: flex;
    justify-content: space-around;
    
    
}
.top_cat_pro{
    border: 0px solid blue;
    width: 350px;
    height: 250px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px 5px yellow;
    transition: transform 1s;

}
.top_cat_pro:hover{
    transform: scale(1.1);
}
.top_cat_pro p{
    align-items: center;
}
.topfooditems{
    border: 0px solid black;
    
    display: flex;
    justify-content: space-around;
    
    
}
.top_cat_pro{
    border: 0px solid blue;
    width: 350px;
    height: 300px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px 5px yellow;
    transition: transform 1s;

}
.top_cat_pro:hover{
    transform: scale(1.1);
}
.top_cat_pro p{
    align-items: center;
}
.button{
    border: 0px solid green;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button input{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    background-color: orange;
    font-size: 20px;
}
.button input:hover{
    background-color: green;
}
*{
    margin:0;
    padding:0;
}
body{
    color:black;
}

#menu ul{
    list-style: none;
    z-index: 1000;
}
#menu ul li{
    background-color: brown;
    border: 1px solid black;
    width: 302px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float:left;
    position: relative;
}
#menu ul li a{
    text-decoration: none;
    color: white;
    display:block;


}
#menu ul li a:hover{
    background-color: green;
}
#menu ul ul{
    display:none;
    position: absolute;
}
#menu ul li:hover>ul{

    display:block;
    
}
.topfooditems{
    border: 0px solid black;
    
    display: flex;
    justify-content: space-around;
    
    
}
.top_cat_pro{
    border: 0px solid blue;
    width: 350px;
    height: 300px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px 5px yellow;
    transition: transform 1s;

}
.top_cat_pro:hover{
    transform: scale(1.1);
}
.top_cat_pro p{
    align-items: center;
}
.button{
    border: 0px solid green;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button input{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    background-color: orange;
    font-size: 20px;
}
.button input:hover{
    background-color: green;
}
table{
    height: 430px;
}
input{
    width: 100%;
    height: 60%;
    border: 2px solid green;
    font-size: 18px;
}
textarea{
    width: 100%;
    height: 60%;
    border: 2px solid green;
}
select{
    width: 100%;
    height: 60%;
    border: 2px solid green;
}
input[type="button"]:hover{
    background-color: green;
    color: white;
}
/* ===== Global Styles ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff8e1;
  color: #4e342e;
  line-height: 1.6;
}

/* ===== Navbar ===== */
#menu {
  background-color: #ff7043;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#menu ul li {
  position: relative;
}

#menu ul li a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: background 0.3s, transform 0.2s;
}

#menu ul li a:hover {
  background-color: #ff5722;
  transform: scale(1.05);
  border-radius: 10px;
}

/* ===== Dropdown Menu ===== */
#menu ul li ul {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #ff7043;
  display: none;
  flex-direction: column;
  width: 180px;
  border-radius: 0 0 8px 8px;
}

#menu ul li:hover ul {
  display: flex;
}

#menu ul li ul li a {
  padding: 12px 20px;
}

/* ===== Slider ===== */
#outerbox {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
}

#sliderbox {
  display: flex;
  width: 400%;
  animation: slide 16s infinite;
}

#sliderbox img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

@keyframes slide {
  0% { margin-left: 0; }
  20% { margin-left: 0; }
  25% { margin-left: -100%; }
  45% { margin-left: -100%; }
  50% { margin-left: -200%; }
  70% { margin-left: -200%; }
  75% { margin-left: -300%; }
  100% { margin-left: -300%; }
}

/* ===== Top Food Items ===== */
h1 {
  text-align: center;
  color: #d84315;
  font-size: 2rem;
  margin: 20px 0;
}

.topfooditems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}

.top_cat_pro {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  width: 340px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.top_cat_pro img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.top_cat_pro p {
  padding: 12px;
  background-color: #ffe0b2;
  color: #4e342e;
  font-weight: 600;
}

.top_cat_pro:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

/* ===== Buttons (Optional future use) ===== */
button, .btn {
  background-color: #ff7043;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}

button:hover, .btn:hover {
  background-color: #ff5722;
}

/* ===== Footer ===== */
.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #4e342e;
  color: #fff8e1;
  padding: 40px 0;
  margin-top: 50px;
}

.footerbox {
  width: 250px;
  margin: 10px;
}

.footerbox b {
  display: block;
  margin-bottom: 8px;
}

.footer iframe {
  border-radius: 8px;
}

.footer p {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  font-size: 0.9rem;
  color: #ffe0b2;
}

/* ===== Responsive Design ===== */
@media (max-width: 900px) {
  #menu ul {
    flex-direction: column;
    text-align: center;
  }

  #sliderbox img {
    height: 300px;
  }

  .topfooditems {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footerbox {
    text-align: center;
  }
}
.help{
    width: 100%;
    height: 60%;
    border: 0px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content{
    width: 80%;
    height: 85%;
    border: 0px solid yellow;
    float: left;
}
.footer{
    border: 2px solid black;
    height: 470px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    

    
    
}
.footer a{
    text-decoration: none;
    color: green;
}
.footerbox{
    height: 180px;
    width: 300px;
    border: 0px solid blue;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    color: green;
    text-align: center;
    
    
    
}
.topfooditems{
    border: 0px solid black;
    
    display: flex;
    justify-content: space-around;
    
    
}
.top_cat_pro{
    border: 0px solid blue;
    width: 350px;
    height: 300px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px 5px yellow;
    transition: transform 1s;

}
.top_cat_pro:hover{
    transform: scale(1.1);
}
.top_cat_pro p{
    align-items: center;
}
.button{
    border: 0px solid green;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button input{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    background-color: orange;
    font-size: 20px;
}
.button input:hover{
    background-color: green;
}
.topfooditems{
    border: 0px solid black;
    
    display: flex;
    justify-content: space-around;
    
    
    
}
.top_cat_pro{
    border: 0px solid blue;
    width: 350px;
    height: 250px;
    float: left;
    margin-top: 20px;
    
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px 5px yellow;
    transition: transform 1s;
    

}
.top_cat_pro:hover{
    transform: scale(1.1);
    
}
.top_cat_pro p{
    align-items: center;
}
p{
    margin-left: 10px;
    font-size: 20px;
}
.footer{
    border: 2px solid black;
    height: 470px;
    display: flex;
    justify-content: space-around;
    background-color: black;

    
    
}
.footerbox{
    height: 180px;
    width: 250px;
    border: 0px solid blue;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    color: green;
    text-align: center;
    
    
    
}

