.topfooditems{
    border: 0px solid black;
    
    display: flex;
    justify-content: space-around;
    
    
}
.top_cat_pro{
    border: 0px solid blue;
    width: 350px;
    height: 250px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px 5px yellow;
    transition: transform 1s;

}
.top_cat_pro:hover{
    transform: scale(1.1);
}
.top_cat_pro p{
    align-items: center;
}